@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la herramienta web de Amigos</h1>
    <p>Entrar a la lista: <a href="amigo"> Lista de amigos</a>.</p> 
</div>
